In [2]:
num1=10
num2=30
add=num1+num2

In [3]:
print(add)

40

In [7]:
print("The addition of two numbers")
num1=10
print("The Number1: ",num1)
num2=15
print("The Number2: ",num2)
print("The Answer: ",num1+num2)

The addition of two numbers
The Number1:  10
The Number2:  15
The Answer:  25

In [9]:
#input
num1=input("enter the num1 value: ")

enter the num1 value:  30

In [10]:
num2=input("enter the num2 value: ")

enter the num2 value:  50

In [11]:
print(num1+num2)

3050

In [21]:
num1=int(input("enter the num1 value: "))

enter the num1 value:  10

In [22]:
num2=int(input("enter the num2 value: "))

enter the num2 value:  20

In [23]:
print("result ",num1+num2)

result  30

In [24]:
print('kathi')

kathi