In [3]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [12]:
# Print number of items in the list by using 'len'
List=[10, 20, 14, 55, 43, 87, 76]
print("The Number of items presented in the List : ",len(List))

The Number of items presented in the List :  7

In [15]:
#To print a string character by character of new line
#Method1: Using Loop
my_string="Artificial Intelligence"
for char in my_string:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
#Method2: Using "\n".join():
my_string = "Python"
print("\n".join(my_string))

P
y
t
h
o
n

In [34]:
#-Your Name-
#-Your Age-
#-Your Profession-
List=["name: kathir","age: 35","professional: IT"]
for num in List:
    print(num)

name: kathir
age: 35
professional: IT

In [29]:
#tuple
tup=(1,'kathir',2)
print(tup)

(1, 'kathir', 2)

In [20]:
# Print mixered datatype using Tuples
tup1=(1,2,3)
tup2=('kathir','dharsini')
tup3=(tup1,tup2)
print(tup3)

((1, 2, 3), ('kathir', 'dharsini'))

In [26]:
# print Odd Numbers in the list
List=[14,88,24,19,20,77]
for num in List:
    if(num%2!=0):
        print(num," is Odd")

19  is Odd
77  is Odd

In [27]:
# print Even Numbers in the list
List=[14,88,24,19,20,77]
for num in List:
    if(num%2==0):
        print(num," is Even")

14  is Even
88  is Even
24  is Even
20  is Even